/* @media (max-width: 650px) {
    .Profile-wrapper {
        width: 80%;
        padding: 0px 1.5rem;
        display: grid;
    }
  } */

/* @media (max-width: 650px) {
  .apresentation {
      margin-left: auto;
  }
} */

/* @media (min-width: 650px) {
    .apresentation {
        margin-left: 240px;
    }
} */